@font-face {
  font-family: Futura;
  src: url("/Futura Bold.otf") format("opentype");
}

head,
body {
  font-family: "Open Sans", sans-serif;
  background-color: white;
  margin: 0;
  padding: 0;
  font-size: 18px;
}
.image {
  display: block;
  width: 100%;
  height: auto;
}
.row {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto 400px;
}
/* .column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
} */
.header {
  font-family: "Futura", Helvetica, sans-serif;
  font-weight: bold;
  font-size: 26px;
}
.subheader {
  font-size: 22px;
  padding-top: 40px;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.block {
  display: flex;
  flex-direction: column;
  padding: 140px;
}
.purple {
  color: #4a33e8;
}
.red {
  color: #d22626;
}
.link {
  cursor: pointer;
  text-decoration: none;
}
.link:hover {
  text-decoration: underline;
}
.margin-bottom {
  margin-bottom: 20px;
}

@media only screen and (max-width: 1280px) {
  .block {
    padding: 40px;
  }
}
@media only screen and (max-width: 720px) {
  .row {
    flex-direction: column;
    margin-bottom: 100px;
  }
  .logo-container {
    max-width: 100%;
    margin: 0 auto;
  }
  .block {
    padding: 80px;
  }
}
@media only screen and (max-width: 570px) {
  .row {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
  }
  .logo-container {
    max-width: 100%;
    padding: 20px;
  }
  .block {
    padding: 20px;
  }

  .link:hover {
    text-decoration: none;
  }
}
